.page-title-container {
    color: var(--fg-color);
    display: grid;
    place-content: center;
    width: 100%;
    min-height: min(calc(80vh - 120px), 400px);
    min-height: 100px;
    border-bottom: 1px dashed var(--bg2-color);
    margin-bottom: 10px;
    font-family: 'Fira Code', monospace;
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.page-title {
    /* max-width: 300px; */
    text-align: center;
    font-size: 38px;
    z-index: 30;
    position: relative;
    margin: 0 40px;
}

.page-content {
    color: var(--fg-content-color);
    padding: 10px;
    padding-top: 0px;
    line-height: 1.4;
    font-size: 18px;
    font-family: 'Fira Code', monospace;
}