.page-title-container {
    color: var(--fg-color);
    display: grid;
    place-content: center;
    width: 100%;
    min-height: min(calc(80vh - 120px), 400px);
    border-bottom: 1px dashed var(--bg2-color);
    font-family: 'Josefin Sans', sans-serif;
    /* font-family: 'Fira Sans', sans-serif; */
    /* font-family: 'Fira Code', monospace; */
    padding: 10px;
    box-sizing: border-box;
    position: relative;
}

.page-title-background,
.page-title-background-overlay {
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 10px;
    position: absolute;
}

.page-title-background {
    background-color: transparent;
    background-image: url("/img/default-post-img.jpg");
    background-size: cover;
    background-position: center;
    z-index: 10;
}

.page-title-background-overlay {
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    background-color: var(--bg-color);
    opacity: 0.7;
    backdrop-filter: blur(2px);
    z-index: 20;
}

.page-title {
    /* max-width: 300px; */
    text-align: center;
    font-size: 38px;
    z-index: 30;
    position: relative;
}

.page-title__date {
    z-index: 30;
    text-align: center;
    font-family: 'Fira Sans', sans-serif;
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
    font-weight: bold;
    color: var(--bg-light-color);
}

.page-content {
    color: var(--fg-content-color);
    padding: 10px;
    line-height: 1.6;
    font-size: 18px;
    font-family: 'Fira Code', monospace;
}

.page-content h1 {
    font-size: 28px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.page-content h2 {
    font-size: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.page-content h3 {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    font-weight: bold;
}

.page-content a,
.page-content a:visited {
    color: rgb(111, 183, 231);
    text-decoration: underline;
}

p > code {
    background-color: #282a36;
    padding: 0 2px;
    border: 1px dotted var(--bg2-color);
}

.page-content img {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    display: block;
    border: 1px solid var(--bg2-color);
    border-radius: 5px;
    box-shadow: 1px 2px 5px rgb(13, 14, 19);
}

.page-content hr {
    border-color: var(--bg-light-color);
    border-style: dashed;
}

.page-content blockquote {
    font-family: 'Fira Sans', sans-serif;
    border-left: 3px solid var(--bg-light-color);
    padding-left: 10px;
}