{{ define "header-links" }}
    <link rel="stylesheet" href="/css/single.css">
    <link rel="stylesheet" href="/css/about.css">
{{ end }}

{{ define "main" }}
    <div class="page-title-container">
        <h1 class="page-title">
            {{.Title}}
        </h1>
    </div>
    <blockquote class="quote">
        The best thing about the future is that it comes one day at a time.
    </blockquote>
    <div class="hr"></div>
    <div class="page-content">
        {{.Content}}
    </div>
{{ end }}