{{ define "header-links" }}
    <link rel="stylesheet" href="/css/blog.css">
    <link rel="stylesheet" href="/css/index.css">
    <script src="/js/anime.min.js"></script>
    <script src="/js/index.js" defer></script>
{{ end }}
{{ define "main" }}
<section class="hero">
    <!-- bg img https://pixabay.com/illustrations/shop-store-pixel-art-market-7285838/ -->
    <div class="hero__caption__wrapper">
    <!-- <img src="/img/mascot.png" alt="mascot" width="300"> -->
        <h1 class="hero__caption">
            Welcome to <br>
            Adeepa's Web Space <br>
            o( ❛ᴗ❛ )o
        </h1>
    </div>
    <p class="hero__description">
        Here is my web space. I have a blog, <br>
        my personal profile, contact details and <br>
        a diary here. Thanks for stopping by!
    </p>
</section>
<section class="home-content">
    <div class="shell">
        <span class="prompt">/home/cipherdragon <span class="prompt__dollar">$</span></span>
        <span class="shell__command">cat about.txt</span>
    </div>
    <div class="home-content__text about">
        <p>Hello world!</p>
        <p>
            I'm Adeepa Gunathilake. Here's my web log.
        </p>
        <p>
            I like sleeping, cycling, swimming and programming.
            As any other normal programmer would do, I rarely complete
            my hobby coding projects. Web development is my most
            talented field. I hope I could sing nice, but not everyone's
            a singer right?
        </p>
        <p>
            I live by the line, 
            <span style="color: rgb(255, 121, 177);">
                <b><em>
                    "don't be a script kiddie."
                </em></b>
            </span>
        </p>
        <p>
            All and all, I love simplicity. Can't you say, by just
            looking at this web log?
        </p>
    </div>
    <div class="hr"></div>

    <div id="quote">
    </div>
    <div class="hr"></div>
    
    <div class="myimg">
        <div class="img-wrapper">
            <div class="myimg__caption myimg__caption--dark">
                This <br>
                Is <br>
                Me
            </div>
        </div>
        <div class="myimg__caption myimg__caption--light">
            This <br>
            Is <br>
            Me
        </div>
    </div>
    <div class="hr"></div>
    <div class="blog-intro">
        <div class="blog-intro__line-main">
            <p>
                Here are some of my writings.
            </p>
        </div>
    </div>
    <ul class="blog-card-container">
    {{ range (where .Site.RegularPages "Type" "blog" | first 5) }}
        <li class="blog-card">
            <a href="{{ .Permalink }}" class="blog-card__title blog-card__permalink">
                {{ .Title }}
            </a>
        </li>
    {{ end }}
    </ul>
    <div style="margin-top: 30px;"></div>
    <a href="/blog" class="explore_blog">&gt;&gt;&gt; Explore the blog</a>
    <a href="/diary" class="explore_blog">&gt;&gt;&gt; Explore the diary</a>
    <a href="/library" class="explore_blog">&gt;&gt;&gt; Visit my library</a>
    <!-- <div class="hr"></div>

    <h1 class="diary-intro">I have a diary too</h1>
    <p class="diary-desc">
        Diaries are a great way to record life experiences and
        learn from them. Way you think today is probably different 
        than the way you think next year. 
    </p>
    <a href="/diary" class="big-link-btn">Read the diary</a>
    <br> -->
</section>

{{ end }}